/* Кольори */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

/* Header 
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}*/

/* Навігація Header 
.header-nav {
  display: flex;
  align-items: center;
}*/

/* Логотип Header 
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}*/

/* Список навігації (ul) 
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}*/

/* Елементи навігації (li) */
.nav-list .nav-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
}

/* Блок контактів 
.header-contacts {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  margin-left: auto;
}*/

/* Список навігації (ul) 
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}*/

/* Основні стилі для посилань у навігації */
/* Посилання (a) */
.nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42; /* базовий колір тексту */
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

/* Посилання (a) */
.contacts-link {
  display: block;
  padding: 24px 0;
  color: #434455; /* базовий колір тексту */
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стан при наведенні мишкою (hover) */
.nav-link:hover,
.contacts-link:hover,
.nav-link.current {
  color: #404bbf; /* змінюється колір тексту при ховері */
}

/* Стан при фокусі (focus) */
.nav-link:focus,
.contacts-link:focus {
  color: #404bbf; /* змінюється колір тексту при фокусі */
}

/* Стан при активному натисканні (active) */
.nav-link:active {
  text-decoration: underline;
  color: #404bbf; /* колір тексту при активному стані */
}

/* Section 2 Benefits 
.benefits {
  background-color: #ffffff;
  padding: 120px 0;
}*/

/* Список секції Benefits (ul) 
.benefits-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}*/

/* Елементи списку секції Benefits (li) 
.benefits-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}*/

/* Дів з іконками svg (div) 
.benefits-box {
  display: flex;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}*/

/* Підзоголовки секції Benefits (h3) 
.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}*/

/* Текст секції Benefits (p) 
.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}*/

/* Section 3 Our Team 
.team {
  display: block;
  background-color: #f4f4fd;
  padding: 120px 0;
  height: 732px;
  padding-left: 15px;
  padding-right: 15px;
}*/

/* Заголовок секції Our Team (h2) 
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}*/

/* Список секції Our Team (ul) 
.team-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
*/
/* Елементи списку секції Our Team (li) 
.team-item {
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
*/
/* Контейнер під зображенням (div) 
.team-list .team-name {
  border-bottom: 1px solid var(#e7e9fc);
  border-left: 1px solid var(#e7e9fc);
  border-right: 1px solid var(#e7e9fc);
  padding: 32px 0;
  max-width: 1440px;
}*/

/* Підзоголовок секції Our Team (h3) 
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}*/

/* Текст секції Our Team (р) 
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}*/

/* Список посилань на соцмережі (ul) 
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}*/

/* Посилання на соцмережі (а) 
.social-ref {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/
/* Стан посилань при наведенні мишкою та фокусі 
.social-ref:hover,
.social-ref:focus {
  background-color: #404bbf;
}
*/

/* Section 4 Our Portfolio 
.portfolio {
  background-color: #ffffff;
  padding: 120px 0;
}*/

/* Заголовок секції Our Portfolio (h2) */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* Список секції Our Portfolio (ul) */
.portfolio-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

/* Елементи секції Our Portfolio (li) */
.portfolio-list {
  width: calc((100% - 48px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Контейнер замість зображення скритий (div) */
.image-sumb {
  position: relative;
  overflow: hidden;
}

/* Вспливаючий текст (р) */
.overlay {
  padding: 40px 32px;
  display: block;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .overlay {
  transform: translateY(0);
}

.portfolio-list:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/* Контейнер під зображенням (div) */
.portfolio-group .portfolio-card {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

/* Підзоголовок секції Our Portfolio (h3) */
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #ffffff;
  margin-bottom: 8px;
}

/* Текс секції Our Portfolio (р) */
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

/* Контейнер Footer (div) */
.footer-first {
  margin-right: 120px;
}

/* Логотип Footer */
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

/* Текст першого контейнера Footer (р) */
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

/* Текст другого контейнера Footer (р) */
.footer-text-links {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

/* Список посилань на соцмережі другого контейнера Footer (ul) */
.footer-social-links {
  display: flex;
  gap: 16px;
}

/* Елементи списку посилань на соцмережі другого контейнера Footer (li) */
.footer-social-links-li {
  width: 40px;
  height: 40px;
}

/* Посилань на соцмережі другого контейнера Footer (а) */
.footer-social-ref {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Іконка svg Footer */
.footer-social-icon {
  fill: #f4f4fd;
}

/* Зміна кольору посилання Footer */
.footer-social-ref:hover,
.footer-social-ref:focus {
  background-color: #31d0aa;
}

/* Footer-form */
.footer-form {
  margin-left: auto;
}

.form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.email-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}

.email-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

/* Кнопка відправки форми */
.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  margin-left: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  text-align: center;
  margin-left: 16px;
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 999;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Модальний контейнер div */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

/* Кнопка закриття модального вікна */
.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

/* Текст модального вікна (р) */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* Модальний контейнер для вводу (div) */
.form-container {
  position: relative;
  margin-bottom: 8px;
}

/* Лейбел */
.modal-lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-container {
  position: relative;
}

/* Інпут */
.form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}

/* Іконка svg */
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-icon {
  fill: #4d5ae5;
}

/* Контейнер для коментарів div */
.textarea-container {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 16px;
}

/* Поле вводу коментаря */
.modal-textarea {
  display: block;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  margin-top: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Текст для поля вводу коментаря */
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  margin-top: 12px;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

/* Посилання Privacy Policy */
.checkbox-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox:checked + .checkbox-label > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* Кнопка відправки форми */
.send-button {
  display: block;
  margin: 0 auto;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  text-align: center;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  margin-top: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стан при наведенні мишкою та при фокусі (focus) */
.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}
